h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    border-bottom: solid 1px white;
}

li {
    font-size: 2rem;
    padding: 0.5rem;
    list-style-type: none;

}

a:hover {
    font-size: 2.5rem;
    color: white;
}